*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

######################
# IntelliJ
######################
.idea/
*.iml
*.iws
#hybris4intellij.properties
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini

######################
# macOS
######################
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# SAP Hybris
######################
rextensions/*.class
gensrc/
/hybris
trainingbackoffice_bof.jar
rextensions/trainingbackoffice/resources/backoffice/trainingbackoffice_bof.jar
rextensions/*/bin
rextensions/*/hmc/bin
rextensions/*/build.xml
rextensions/*/classes/
rextensions/*/rextensioninfo.xsd
rextensions/*/gensrc/
rextensions/*/jaxbgensrc/
rextensions/*/platformhome.properties
rextensions/*/resources/items.xsd
rextensions/*/resources/beans.xsd
rextensions/*/web/testclasses/
rextensions/*/.settings/
rextensions/*/web/webroot/WEB-INF/classes
rextensions/*/resources/*/*-testclasses.xml
rextensions/*/resources/*/*-webtestclasses.xml
rextensions/*/web/commonwebsrc/acceleratorstorefrontcommons/*

rextensions/trainingstorefront/web/commonwebsrc/acceleratorstorefrontcommons/*
rextensions/trainingstorefront/web/addonsrc/*
rextensions/trainingstorefront/web/webroot/_ui/addons/*
rextensions/trainingstorefront/web/webroot/WEB-INF/views/addons/*
rextensions/trainingstorefront/web/webroot/WEB-INF/tags/addons/*
rextensions/trainingstorefront/web/webroot/*/addons/*
rextensions/trainingstorefront/web/webroot/WEB-INF/messages/addons/*
rextensions/trainingstorefront/web/webroot/WEB-INF/tld/addons/*
rextensions/trainingstorefront/web/webroot/WEB-INF/_ui-src/addons/*

# jrebel
rebel.xml
jrebel.lic

# xrebel
xrebel.lic
